<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Collection</title>
	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="../static/styleCollection.css">
</head>
<body>

	<nav class="navbar">
		<div class="left">
			<img class="logo" src="../icons/RAWG_logo-removebg-preview.png" alt="RAWG Logo">
		</div>
		<div class="navlinks">
			<a href="/">Accueil</a>
			<a href="/collection">Collection</a>
			<a href="/recherche">Recherche</a>
			<a href="/favoris">Favoris</a>
			<a href="/aPropos">Apropos</a>
		</div>
	</nav>

	<main class="container">
		<h1>Collection - Page {{.Page}}</h1>

		{{if .Error}}
			<p class="error">Erreur: {{.Error}}</p>
		{{end}}

		<section class="games-grid">
			{{range .Games}}
			<div class="game-card">
				<h3>{{index . "name"}}</h3>
                {{ $game := .}}
				{{with index $game "background_image"}}
				<img src="{{.}}" alt="{{index $game "name"}}" class="game-image">
				{{end}}
				<p>Sortie : {{index . "released"}}</p>
				<p>Note: {{index . "rating"}}</p>
			</div>
			{{end}}
		</section>

		<div class="pagination">
			{{if .PrevPage}}<a class="page-link" href="/collection?page={{.PrevPage}}">← Précédent</a>{{end}}
			<span>Page {{.Page}}</span>
			{{if .NextPage}}<a class="page-link" href="/collection?page={{.NextPage}}">Suivant →</a>{{end}}
		</div>
	</main>

</body>
</html>
