<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Steam-API</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <nav class="navbar">
    <div class="left">
      <img class="logo" src="../icons/steam-logo-steam-icon-free-free-vector-removebg-preview.png" alt="Steam Logo" href="/index">
      </div>
    </div>
  </nav>
  <form action="/traitment/search" method="post">
    <input type="text" name="search" placeholder="recherche">
    <button type="submit"></button> 
    <h2></h2>
</body>
</html>