.recherche-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.barre-recherche input[type="text"] {
    width: 500px;          
    height: 40px;           
    background-color: #0d1b26; 
    border: 1px solid #000000; 
    border-radius: 3px;     
    color: white;           
    padding-left: 15px;     
    font-size: 16px;        
    outline: none;          
}

body {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    background: linear-gradient(135deg, #2A475E 0%, #2A475E 100%);
    min-height: 100vh;
    }

  .loupe {
    justify-content: ;
  }